.footer-bg {
    background-color: #2e2f42;
    padding: 100px 0;
    
  
  }
  
  .flex-footer-container {
    display: flex;
    align-items: baseline;
    
    
  }
  
  .logo-and-text {
    margin-right: 120px;
  }
  
  .logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    line-height: 1.17;
    display: block;
    margin-bottom: 16px;
    display: inline-block;
  }
  
  .logo-studio-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
  }
  
  .footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 264px;
  }
  
  
  
    .icons-title {
   margin-bottom: 16px;
  
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
    }
  
    
  
    .icon-item-footer {
      display: flex;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color:  #4d5ae5;
      align-items: center;
      justify-content: center;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  
    .icon-item-footer:hover,
    .icon-item-footer:focus
     {
      background-color:  #31d0aa;
    }
  
    .footer-social-icons {
      display: flex;
      gap: 16px;
    }


    .footer-form-wrapper {
        margin-left: 80px;
      }
      
      .footer-form {
        display: flex;
        gap: 24px;
      }
      
      .footer-form-text {
       margin-bottom: 16px;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: #fff;
      }
      
      .footer-form-and-button {
        display: flex;
      }
      
      .footer-form-input {
       min-width: 264px;
       height: 40px;
      padding: 8px 16px;
      font-size: 12px;
      line-height: 2;
      letter-spacing: 0.04em;
      color: #fff;
      
      
      border: 1px solid #fff;
      border-radius: 4px;
      width: 264px;
      height: 40px;
      
      background-color: transparent;
      
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
      
      }
      
      .footer-form-button {
        border-radius: 4px;
      padding: 8px 24px;
      min-width: 165px;
      min-height: 40px;
      background: #4d5ae5;
      border: none;
      display: flex;
      gap: 16px;
      cursor: pointer;
      justify-content: center; 
      align-items: center;
      
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.04em;
      text-align: center;
      color: #fff;
      }
      
      
      