





/* GENERAL-STYLES */
body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #434455;
 
}

ul,
ol,
a {
  list-style-type: none;
  text-decoration: none;
  padding-left: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}


:hover, :focus {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}



/* GENERAL-media-rules */
@media  screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
  
  @media  screen and (min-width: 1158px) {
    .container {
      max-width: 1158px;
      padding: 0 15px;
    }
  }

  @media screen and (min-width: 1158) {
    .container {
      max-width: 1158px;
      padding: 0 16px;
    }
  }
  
/* /GENERAL-media-rules */

/* /GENERAL-STYLES */






/* HEADER-STYLES */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:  0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
 
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}

.navigation {
  display: flex;
  align-items: center;
  
}

.logo {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  line-height: 1.17;
  padding: 17px 0;
  color: #4d5ae5;
}

.logo-studio {
  color: #2e2f42;
}

.menu-list {
  display: none;
}

.adress-nav-list {
  display: none;
 }

.menu-text {
  display: block;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  padding: 24px 0;
  color: #2e2f42;
}

.main-page-text {
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-page-text::after {
  content: "";
  display: flex;
  position: absolute;
  margin: 0 auto;
  min-width: 48px;
  height: 4px;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
  background-color:  #404bbf;

}

.menu-text:hover {
  color: #404bbf;
}

.menu-text:focus {
  color: #404bbf;
}

.adress-nav {
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  letter-spacing: 0.02em;
  margin-left: auto;
  color: #434455;
}

.contact {
  line-height: 1.5;
  color: #434455;
  transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.contact:hover {
  color: #404bbf;
}

.contact:focus {
  color: #404bbf;
}

.open-menu-button {
  line-height: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

/* HEADER-media-rules */

@media screen and (min-width: 768px) {
  .open-menu-button {
    display: none;
  }

  .adress-nav-list {
    display: flex;
    flex-direction: column;
    column-gap: 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
  }
  
  .menu-list {
    display: flex;
    gap: 40px;
    margin-left: 120px;
      }

  .logo {
    padding: 26px 0;
}
} 

@media screen and (min-width: 1158px) {
  .adress-nav-list {
    flex-direction: row;
    column-gap: 40px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
/* /HEADER-media-rules */

/*/HEADER-STYLES  */










/* MAIN-STYLES */

.background-title {

  background-image: linear-gradient(
  rgba(46, 47, 66, 0.7), 
  rgba(46, 47, 66, 0.7)),  
  url(../images/hero-image.jpg);
  max-width: 320px;
  min-height: 432px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #2e2f42;
  }

.text-title {
  
  margin: 0 auto;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 1.1;
  width: 216px;
  padding-top: 72px;
  padding-bottom: 72px;
  color: #fff;
}

.btn-title {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #fff;
}

.btn-title:hover {
  background-color: #404bbf;
}

.btn-title:focus {
  background-color: #404bbf;
}




/* MAIN-media-rules */

/* phone */

@media screen and (min-width: 320px) and (min-resolution: 192dpi) {

  .background-title {
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7), 
      rgba(46, 47, 66, 0.7)),  
      url(../images/hero-image@2x.jpg); 
  }
}

/* tablet */

@media screen and (min-width: 768px) {

  .background-title {
    max-width: 768px;
    min-height: 436px;
    background-image: linear-gradient(
    rgba(46, 47, 66, 0.7), 
    rgba(46, 47, 66, 0.7)),  
    url(../images/hero-image-tablet.jpg)
  }

  .text-title {
    width: 496px;
    font-size: 56px;
    padding-top: 112px;
    padding-bottom: 36px;
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {

  .background-title {
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7), 
      rgba(46, 47, 66, 0.7)),  
      url(../images/hero-image-tablet@2x.jpg)
  }
}

/* dextop */

@media screen and (min-width: 1158px) {

  .background-title {
    max-width: 1440px;
    min-height: 600px;
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7), 
      rgba(46, 47, 66, 0.7)),  
      url(../images/hero-image-dextop.jpg)
  }
  .text-title {
    padding-top: 188px;
    padding-bottom: 48px;
  }

  

}

@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {

  .background-title {
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7), 
      rgba(46, 47, 66, 0.7)),  
      url(../images/hero-image-dextop@2x.jpg)
  }
}

/* /MAIN-media-rules */

/* /MAIN-STYLES */





/*PECULIARITIE-STYLES*/

.list-description {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
  padding: 96px 0;
}

.peculiarities-icons {
  display: none;
 }

 .title-of-peculiaritie {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: #2e2f42;
}

.dscr-of-peculiaritie {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}




/*PECULIARITIE-media-rules  */

/* tablet */

@media screen and (min-width: 768px) {

  .list-description {
    flex-direction: row;
    column-gap: 24px;
    flex-wrap: wrap;
  }

.title-of-peculiaritie {
  text-align: start;
  }

.list-description-element {
  max-width: 356px;
  min-height: 120px;
  }
}

/* dextop */

@media screen and (min-width: 1158px) {

.peculiarities-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
  background-color: #f4f4fd;
  }

.list-description {
  flex-wrap: nowrap;
  }
  

.title-of-peculiaritie {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  }
  

.dscr-of-peculiaritie {
  font-weight: 400;
    }
  }

/*/PECULIARITIE-media-rules  */








/* TEAM-STYLES*/

.our-team-section {
  background-color: #f4f4fd;
}

.team-container {
    
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  padding: 96px 28px;
  }

.our-team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
  color: #2e2f42;
  }

  
.team-list {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
  }


.img-our-team {
  width: 264px;
  height: 428px;  
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background-color:  #fff;
}
      

.personal-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 16px;
  row-gap: 8px;
  background-color: #fff;
  }

.command-structure {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
  color: #2e2f42;
  }

.profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
  color: #434455;
  }
 
.social-icons{
  display: flex;
  flex-direction: row;
  gap: 24px;
  }

.icon-list {
  width: 40px;
  height: 40px;
  }

.icon-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color:  #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #f4f4fd;
  }

.icon-item:hover, .icon-item:focus {
  background-color: #404bbf;
  }

     /* TEAM-media-rules */

        /* tablet */

@media screen and (min-width: 768px) {

  .team-list {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
    padding-bottom: 96px;
    }
      }

        /* dextop */

@media screen and (min-width: 1158px) {
 
  .team-container {
    max-width: 1158px;
    }

  .team-list  {
    flex-wrap: nowrap;
    }
      }

          /* /TEAM-media-rules */
        
          /* /TEAM-STYLES*/





   /* PORTFOLIO-STYLES */

.portfolio-container {
  display: flex;
  padding: 96px 16px;
  flex-direction: column;
  align-items: center;
  row-gap: 48px;
  }

.img-our-portfolio {
  max-width: 288px;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
background: #fff;
  }


.our-portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
  }


.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  }


.img-our-portfolio {
  background-color: #fff;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1)
  }

.img-our-portfolio:hover .overlay {
    transform: translatey(0%);
    }
  
.img-our-portfolio:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
    }

.hidden {
  position: relative;
  overflow: hidden;
  }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 300px;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

.overlay-text {
  padding: 40px 32px;
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  }

.

.aplication {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  }

.service-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  }

.type-of-service {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  }


  /* PORTFOLIO-media-rules */

           /* tablet */

@media screen and (min-width: 768px) {
    
.portfolio-container {
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 96px 16px;
  }
  
   
.portfolio-list {
  justify-content: center;
  row-gap: 72px;
  }

  .img-our-portfolio {
    max-width: 356px;
  }
    }



        /* dextop */

 @media screen and (min-width: 1158px) {

  
     
   .portfolio-list {
     row-gap: 48px;
     column-gap: 24px;
      } 
        }

    /* /PORTFOLIO-media-rules */
  
    /* /PORTFOLIO-STYLES */








/* FOOTER */

.footer-bg {
  background-color: #2e2f42;
 
  

}

.footer-container {
display: flex;
flex-direction: column;
align-items: center;
padding: 96px 16px;
row-gap: 72px;
 }
 

.logo-and-text {

  text-align: center;

}

.logo-footer {
 
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  line-height: 1.17;
  display: block;
  margin-bottom: 16px;
display: inline-block;
}



.logo-studio-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
 
  text-align: start;
}

.footer-icons-container {
  text-align: center;
}

  .icons-title {
 margin-bottom: 16px;

font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #fff;

  }

  

  .icon-item-footer {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:  #4d5ae5;
    align-items: center;
    fill: #f4f4fd;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .icon-item-footer:hover,
  .icon-item-footer:focus
   {
    background-color:  #31d0aa;
  }

  .footer-social-icons {
    display: flex;
    gap: 16px;
  }

.footer-form-wrapper {
 display: flex;
 flex-direction: column;
 align-items: center;
 row-gap: 16px;
}



.footer-form-text {

font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #fff;
}

.footer-form-and-button {
  display: flex;
}

.footer-form-input {
 min-width: 288px;
 height: 40px;
padding: 8px 16px;
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
color: #fff;


border: 1px solid #fff;
border-radius: 4px;
width: 264px;
height: 40px;

background-color: transparent;

box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

}

.footer-form-button {
  border-radius: 4px;
padding: 8px 24px;
min-width: 165px;
min-height: 40px;
background: #4d5ae5;
border: none;
display: flex;
gap: 16px;
cursor: pointer;
justify-content: center; 
align-items: center;

font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
text-align: center;
color: #fff;
}



/* Backdrop */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms linear, visibility 250ms linear;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.backdrop.is-open {
opacity: 1;
visibility: visible;

}



  /* modal window */




  .modal-window {
    box-shadow:  0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
min-height: 584px;
background-color:  #fcfcfc;
border-radius: 4px;
padding: 72px 24px 24px;
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  }

  .modal-close-button {
    padding: 0;
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
cursor: pointer;
    fill: #2e2f42;
    border-radius: 100%;
    transition: fill 250ms linear;
    background-color:  #e7e9fc;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    justify-content: center;
align-items: center;
width: 24px;
height: 24px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  }

  .modal-close-button:hover,
  .modal-close-button:focus {
    fill: #fff;
    background-color: #404bbf;
    border: none;
  }

  .close-button-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* review form */

  .form-title {
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
  }

  .form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
background-color: transparent;
padding-left: 38px;
transition: border-color 250ms linear;
outline: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }


  .form-input:focus {
    border: 1px solid #4d5ae5;
    outline: transparent;
  }

  .input-wrapper {
    margin-bottom: 8px;
    
  }



  .form-field-label {
    display: block;
font-weight: 400;
font-size: 12px;

letter-spacing: 0.04em;
color: #8e8f99;
margin-bottom: 4px;
line-height: 1.17;
  }

  .form-input-wrapper {
    position: relative;
  }

  .input-icon {
    fill: #2e2f42;
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
     
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .form-input:focus+.input-icon {
    fill: #4d5ae5;
  }

  
  .comment {
    width: 100%;
    height: 120px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    
    resize: none;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 16px;
    
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .comment::placeholder {
    color: rgba(46, 47, 66, 0.4);
  }
    

  .comment::placeholder {
    color: rgba(46, 47, 66, 0.4);
  }

  .comment:focus {
    border: 1px solid #4d5ae5;
    outline: transparent;
  }

  .checkbox-wrapper {
    margin-bottom: 24px;
   
  }

  .privacy-checkbox:checked+.checkbox-label .own-checkbox {
background-color: #404bbf;

fill: #f4f4fd;
border-color: 1px solid #404bbf;
border: none;
  }

  
  
  
  
  .privacy-policy {
    line-height: 1.3;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
  }

  .checkbox-label {
   
    align-items: center;
 font-weight: 400;
 font-size: 12px;
 line-height: 1.17;
 letter-spacing: 0.04em;
 color: #8e8f99;
   }

  .own-checkbox {

   display: inline-flex; 

   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
   border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
   fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
    justify-content: center;
    align-items: center;
    fill: transparent;
    cursor: pointer;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 8px;
}

  .submit-button {
    cursor: pointer;
    border-radius: 4px;
padding: 16px 32px;
min-width: 169px;
height: 56px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: #4d5ae5;
border: none;
display: block;
justify-content: center;
align-items: center;
margin: 0 auto;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 


font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
text-align: center;
color: #fff;
  }

    
  

 


  
  

